/*!
 * react-triple-select-box v0.2.0
 * MIT Licensed
 */
.box-style {
	width: 70px;
	padding: 4px;
	border-width: 4px;
	border-style: solid;
	border-radius: 5px;
	border-color: #337ab7;
	background-color: #d9edf7;
	outline: none;
}

.select-box-option:hover {
	background-color: #286090;
	border-radius: 3px;
	color: white;
}

.input-style {
	font-size: 13px;
	padding: 4px;
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
	border-color: black;
	color: black;
	width: 80%;
	margin: 4px;
	display: block;
}

.label-style {
	color: black;
	display: block;
	text-align: center;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
}

.btn-arrows {
	color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-arrows:hover {
	color: #fff;
	background-color: #286090;
	border-color: #204d74;
}
