.select-box-control-container {
	display: flex;
	align-items: center;
}

.select-box-control-button {
    font-size: 13px;
	padding: 4px;
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
	border-color: black;
	color: black;
	width: 80%;
	margin: 4px;
	display: block;
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

.select-box-control-button:focus {
	outline:0;
}